@import '../../common/scss/base/base';
@import '../../common/scss/base/mixins';
@import '../../common/scss/components/form-elements';

.box {
  @include on-one-side(left);
  @extend %form-box;
} /* form button */

.formBtn {
  padding-left: 0;
  margin-top: 5em;
}

.formLink{
  font-size: 14px;
  margin-top: 1em;
}
