@import '../../common/scss/base/variables';

$arrow-color: #d8c2a0;
$rotation: 50deg; // arrow wings rotation
$bottom-pos: 4%; // arrow position from bottom
$height: 45px; // height of container box
$width: $height * 1.6; // width of container box
$closeness: $height * 0.54; // how close the wings are
$shadow-offset: 3px; // vertical offset of shadow

@mixin arrow-shadow($offset) {
  box-shadow: $offset 1px 2px 0px rgba(black, 0.5);
}

@keyframes arrow-move {
  from {
    bottom: $bottom-pos;
  }
  to {
    bottom: $bottom-pos - 1.5%;
  }
}

.arrow {
  &::after,
  &::before {
    top: 30%;
    content: ' ';
    position: absolute;
    width: 10%;
    height: 60%;
    background-color: $arrow-color;
  }
  &.shadow {
    &::after {
      @include arrow-shadow($shadow-offset);
    }
    &::before {
      @include arrow-shadow(-$shadow-offset);
    }
  }
  &::after {
    transform: rotate($rotation);
    right: $closeness;
  }
  &::before {
    left: $closeness;
    transform: rotate(-$rotation);
  }
}
.arrowContain {
  position: absolute;
  bottom: $bottom-pos;
  transform: translate(-50%, 0);
  left: 50%;
  width: $width;
  height: $height;
  animation: arrow-move 400ms ease-out 1s 6 alternate;
  &:hover {
    bottom: $bottom-pos - 0.7%;
    width: $width * 1.05;
    height: $height * 1.1;
    transition: all 150ms linear;
  }
  cursor: default;
}
