@import '../../common/scss/base/variables';

$arrow-color: #d8c2a0;
$rotation: 50deg; // arrow wings rotation
$bottom-pos: 6%; // arrow position from bottom
$height: 45px; // height of container box
$width: $height * 1.6; // width of container box
$closeness: $height * 0.54; // how close the wings are
$shadow-offset: 3px; // vertical offset of shadow

@mixin arrow-shadow($offset) {
  box-shadow: $offset 1px 2px 0px rgba(black, 0.5);
}


$times: 3;
// animation to move arrow up and down with pause
@keyframes arrow-move {
  // move arrow down for $time times
  @for $i from 0 through $times - 1 {
    #{$i*10%} {
      bottom: $bottom-pos;
    }
    #{$i*10% + 5%} {
      bottom: $bottom-pos - 1.5%; // position when moved down
    }
  }
  // last keyframe to reset position before pause
  #{$times * 10%}{
    bottom: $bottom-pos;
  }
  100% { // keep position for pause
    bottom: $bottom-pos;
  }
}

.arrow {
  &::after,
  &::before {
    top: 30%;
    content: ' ';
    position: absolute;
    width: 10%;
    height: 60%;
    background-color: $arrow-color;
  }
  &.shadow {
    &::after {
      @include arrow-shadow($shadow-offset);
    }
    &::before {
      @include arrow-shadow(-$shadow-offset);
    }
  }
  &::after {
    transform: rotate($rotation);
    right: $closeness;
  }
  &::before {
    left: $closeness;
    transform: rotate(-$rotation);
  }
}
.arrowContain {
  position: absolute;
  bottom: $bottom-pos;
  transform: translate(-50%, 0);
  left: 50%;
  width: $width;
  height: $height;
  animation: arrow-move 8s ease-out 1s infinite;
  &:hover {
    bottom: $bottom-pos - 0.7%;
    width: $width * 1.05;
    height: $height * 1.1;
    transition: all 150ms linear;
  }
  cursor: default;
}
