@import '../../common/scss/base/variables';
$arrow-color: #d8c2a0;
$rotation: 50deg;
$top-apart-offset: 29%;
$bottom-pos: 3%;
$size: 40px;

@keyframes arrow-move {
  from {
    bottom: $bottom-pos;
  }
  to {
    bottom: $bottom-pos - 1.5%;
  }
}

.arrow {
  position: absolute;
  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: $arrow-color;
  }

  &::after {
    top: -$top-apart-offset;
    transform: rotate($rotation);
  }
  &::before {
    top: $top-apart-offset;
    transform: rotate(-$rotation);
  }
  bottom: $bottom-pos;
  transform: translate(-79%, 0) rotate(90deg);
  left: 50%;
  width: $size;
  height: $size;
  animation: arrow-move 400ms ease-out 1s 6 alternate;

  &:hover {
    bottom: $bottom-pos - 1%;
    width: $size + 2px;
    height: $size + 2px;
    transition: all 200ms linear;
  }
}
