@import '../../common/scss/base/variables';
@import '../../common//scss/base/typography';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.titleBox {
  border: 6px solid darken($light-dark, 5);
  background-color: rgba(0, 0, 0, 0.55);
  padding-top: 6%;
  padding-bottom: 6%;
  height: fit-content;
  align-self: center;
  font-size: 1.3em;
  font-family: $serif;
  color: $light;
  text-align: center;
  @include media-breakpoint-down(md) {
    max-width: 100vw;
  }
  a {
    color: $light;
    font-family: inherit;
    text-decoration: underline;
    &:hover{
      color: $highlight;
    }
  }


}

.title {
  font-family: $serif;
  font-size: 50px;
  color: $dark;
  margin-bottom: 30px;
}

.head {
  clip-path: circle(65px at center);
  object-position: 10%;
  height: 200px;
  object-fit: cover;
}

.headName {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  color: $muted;
  font-family: $sans;
}
