code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .backImage{
  background-attachment: fixed; 
  background-size: 100% 100%;
} */



.backImage{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.regBox{
  background-color: #F3F1F1;
  width: 400px;
  /* height: 500px; */
  align-self: center;
  padding: 50px;
  margin-left: 800px;
  margin-right: 100px;
  margin-top: 100px;
}

.header{
  font-size: 50px;
  color: #8B691B;
}

.inputName{
  font-size: 12px;
}

input{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-size: 18px;
  width: 380px;
  margin-top: 20px;
}

.submitButton{
  /* margin-left: 170px;
  background: #5D4C09 0% 0% no-repeat padding-box;
  opacity: 1; */
  margin-top: 50px;
  margin-left: 190px;

  transform: translate(-50%, -50%);
  background-color: #5D4C09;
  color: #ffffff;
  font-size: 12px;
  padding: 6px 12px;
  border: 1px solid #000000;
  cursor: pointer;
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
}


