@import '../../../../common/scss/base/variables';
@import '../../../../common/scss/base/animations';
@import '../../../../common/scss/base/typography';
@import '../../../../common/scss/base/mixins';

.sliderUnit {
  padding: 20px 35px;
  & > div {
    margin-bottom: 0.5em;
  }
  .title {
    font-size: large;
    font-family: $sans;
  }
}
.colorPreview {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  margin-left: 1em;
}

.settingsSection {
  @include shadow-box;
  border: 1px solid $dark;
  background-color: white;
  min-height: 180px;
  margin-bottom: 50px;
  animation: fade-in-no-motion ease 0.5s forwards;
}
