  
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}
.hydro{ 
    background-image: url(./img/accountcreationbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.hydro img {
    width:100%;
    height: auto;
}

.Page-caption{
    width: 40%;
    position: absolute;
    box-shadow: 0 0 3px 0 rgba (0,0,0,0.3);
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    stroke-opacity: 0.2;
}

#contain{
    position: relative;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.display{
color: #8B691B;
font-size: 36px;
text-align:left;
font-family: 'Poppins', sans-serif;


}
.display-2{
    color: #8B691B;
    text-align:left;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    }

.form{
    text-align:left;
    font-family: 'Poppins', sans-serif;
}

.btn {
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #5D4C09;
    color: #ffffff;
    font-size: 12px;
    padding: 6px 12px;
    border: 1px solid #000000;
    cursor: pointer;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
}