@import '../common/scss/base/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';
.lastUpdatedSince {
  font-size: small;
  margin-bottom: 0.5em;
}

.dataBox{
  border: 2px solid $dark;
  background-color: white;
}