@import '../common/scss/base/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.devCardParent {
  // display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  column-gap: 50px;
  row-gap: 50px;
  justify-items: center;
  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(
      auto-fill,
      minmax(unquote('min(250px, 100%)'), 1fr)
    );
  }
}

.headerRow {
  margin-bottom: ($spacer*2);
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.addDevice {
  text-align: right;
  @include media-breakpoint-down(sm) {
    margin-top: $spacer;
    text-align: inherit;
  }
}

$width: 250px;
$height: 300px;
.devCard {
  width: $width;
  height: $height;
  transition: all 0.15s;
  background-color: $bg-light;
  outline: 2px $dark solid;
  &:hover {
    background-color: #fff;
    outline-width: 3px;
    box-shadow: 8px 8px 2px rgba($dark, 0.5);
  }
}
.devCardLink {
  &:hover {
    text-decoration: none;
  }
}
