@import '../../../common/scss/base/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';
.lastUpdatedSince {
  font-size: small;
  margin-bottom: 0.5em;
}
.detailsPage {
  height: fit-content;
  min-height: 100%;
  background-color: $light-bg;
}

.sectionTitle {
  margin-bottom: 1em;
}
.dataBox {
  border: 1px solid $dark;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.dataBlock {
  text-align: center;
  width: 160px;
  font-size: large;
  padding: 1em;
  .title {
    color: $grey;
    font-size: medium;
  }
}

.buttonIcon {
  fill: currentColor;
  height: 1em;
  align-self: center;
  margin-right: 0.5em;
}

.sliderUnit {
  padding: 20px 30px;
  & > div {
    margin-bottom: 1.5em;
  }
}
.colorPreview {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  margin-left: 1em;
}

.settingsSection {
  border: 1px solid $dark;
  background-color: white;
  margin: 50px 0;
  // padding: 20px;
}
