@keyframes fade-in {
  from {
    top: -4px;
    opacity: 0;
    position: relative;
  }
  to {
    top: 0;
    position: initial;
    opacity: 1;
  }
}

@keyframes fade-in-no-motion {
  from {
    opacity: 0;
    position: relative;
  }
  to {
    position: initial;
    opacity: 1;
  }
}

