@keyframes fade-in {
  from {
    top: -5px;
    opacity: 0.1;
    position: relative;
  }
  to {
    top: 0;
    position: relative;
    opacity: 1;
  }
}
@keyframes fade-in-up {
  from {
    top: 5px;
    opacity: 0.1;
    position: relative;
  }
  to {
    top: 0;
    position: relative;
    opacity: 1;
  }
}

@keyframes fade-in-no-motion {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

