@import '../../common/scss/base/variables';
@import '../../common/scss/base/animations';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';
.lastUpdatedSince {
  font-size: small;
  margin-bottom: 0.5em;
}
.detailsPage {
  height: fit-content;
  min-height: 100%;
  background-color: $light-bg;
}

.buttonIcon {
  fill: currentColor;
  height: 1em;
  align-self: center;
  margin-right: 0.5em;
}

#name {
  animation: fade-in-no-motion ease 0.4s;
  color: darken($highlight, 20);
}
