@import '../base/variables';
@import '../base/typography';
@import '../base/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

$form-font-size: 1.2em;

/* text field with label animation */
.form-group {
  font-family: $serif;
  height: 5em;
  .form-label {
    position: relative;
    margin-left: map-get($map: $spacers, $key: 1);
    pointer-events: none;

    &.label-center {
      font-size: $form-font-size;
      top: $form-font-size * 1.8;
      transition: all 0.1s ease-in-out;
      color: $muted;
    }
    &.label-small {
      color: darken($color: $muted, $amount: 20);
      font-size: 0.9em;
      margin-top: 0.8em;
      margin-left: 0;
      top: 1rem;
      transition: all 0.1s ease-in-out;
    }
  }

  input.form-control {
    font-size: $form-font-size;
    padding-left: map-get($map: $spacers, $key: 1);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-radius: 0;
    transition: width ease 1s;
    background: transparent;
    padding: 0;
    margin: 0;
    &:focus {
      box-shadow: none;
      border-width: 0 0 2px 0;
      transition: border ease 0.1s;
    }

    // text box line
    &.normal-line {
      border-color: $muted;
      &:focus {
        border-color: $dark;
      }
    }
    &.red-line {
      border-color: $warning;
    }
  }

  // hint/error text
  .form-text {
    .hint-text,
    .hint-icon {
      vertical-align: middle;
      display: inline-grid;
    }
    .hint-text {
      font-size: 100%;
    }
    .hint-icon {
      margin-right: 0.5em;
    }
  }
}

$height-md: 700px;
$form-box-height: 680px;

/* box in middle of page containing form */
%form-box {
  background-color: rgba($light-bg, 0.95);
  width: $form-box-height * 0.85;
  height: $form-box-height;
  max-height: 100%;
  align-self: center;
  padding: 50px 70px;
  display: flex;
  box-sizing: border-box;
  @include media-breakpoint-down(md) {
    height: $form-box-height + 50px;
  }
  @include media-breakpoint-down(sm) {
    padding: 3em;
  }
  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}

.form-title.row {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

/* form element */
.user-form {
  width: 100%;
  margin-top: 20px;
  @include media-breakpoint-down(sm) {
    padding: 0 1.5em;
  }
}
