@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.headerRow {
  margin-bottom: ($spacer * 3);
  align-items: center;
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
}

.headerButton {
  text-align: right;
  @include media-breakpoint-down(sm) {
    margin-top: $spacer;
    text-align: inherit;
  }
}
