@import '../../scss/base/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.headerRow {
  margin-bottom: ($spacer * 3);
  align-items: center;
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 5px dotted rgba($muted, 0.3);
}

.headerButton {
  text-align: right;
  @include media-breakpoint-down(sm) {
    margin-top: $spacer;
    text-align: inherit;
  }
}

#backButton {
  position: absolute;
  color: $muted;
  top: 51px;
  left: 1em;
  background: none;
  border: none;
  font-size: small;
  &:hover,
  &:focus {
    padding: 1px 6px 1px 0;
    color: $dark;
    transition: all 0.3s;
    outline: none;
    border: 1px solid $light-dark;
    border-left: 0;
    border-right: 0;
  }
}
