@import '../base/typography';
@import '../base/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';
$logo-text: 'HydroGarden';

.logo-lg {
  font-family: $logo-font;
  color: $highlight;
  font-size: 130px;
  margin: 0;
  text-shadow: 0 0 0.1em rgba(0, 0, 0, 0.3);
  @include media-breakpoint-down(md){
    font-size: 90px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 12vw;
  }

  @include media-breakpoint-down(xs) {
    font-weight: bold;
  }
}
$small-title-box-width: 8em;

.logo-trans {
  margin: 20px 40px;
  height: fit-content;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;

  a {
    &:hover {
      text-decoration: none;
    }
  }
  .logo {
    font-size: 30px;
    font-family: $logo-font;
    color: rgba(white, 0.9);
    text-shadow: 0 0 0.5em black;

    @include media-breakpoint-down(lg) {
      text-shadow: none;
      color: $highlight;
      font-size: 1em;
    }
  }

  @include media-breakpoint-down(lg) {
    font-size: 3.5em;
    position: relative;
    border: 3px solid $dark;
    background-color: rgba(white, 0.8);
    color: $highlight;
    backdrop-filter: blur(80px);
    text-align: center;
    margin: 0;
  }

  @include media-breakpoint-down(xs) {
    font-size: 11vw;
  }
}
