/* hello */

body{
    background-image: url(accountcreationbackground.png);
    background-attachment: fixed;
    background-size: 100% 100%;
}
.jumbotron{
    margin-top: 167px;
    margin-left: 140px;
    width: 35.52%;
    height: 67.87%;
 
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.95;
}

.jumbotron-fluid{
    color: #8B691B;
}

.FirstN{
    color: black;
    font-size: 20px;
}

.LastN{
    color: black;
    font-size: 20px;
}

.Pass{
    color: black;
    font-size: 20px;
}

.DeviceID{
    color: black;
    font-size: 20px;
}

.regbutton {
    background-color: #8B691B;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
  }

  .retbutton {
    background-color: #8B691B;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 200px;
  }