@import '../../../../common/scss/base/variables';
@import '../../../../common/scss/base/animations';

.sectionTitle {
  margin-bottom: 1em;
}

.dataBox {
  border: 1px solid $dark;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2em;
  animation: fade-in-no-motion ease 0.5s forwards;
}

.dataBlock {
  text-align: center;
  width: 160px;
  font-size: large;
  padding: 1em;
  .title {
    color: $grey;
    font-size: medium;
  }
  animation: fade-in-no-motion ease 0.5s forwards;
}
