@import '../../common/scss/base/variables';
@import '../../common/scss/base/animations';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.devCardParent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  column-gap: 50px;
  row-gap: 50px;
  justify-items: auto;
  @include media-breakpoint-down(md) {
    justify-items: center;
    grid-template-columns: repeat(
      auto-fill,
      minmax(unquote('min(250px, 100%)'), 1fr)
    );
  }
}

#greet {
  animation: fade-in-up ease 0.3s;
  @include media-breakpoint-down(md) {
    font-size: 35px;
  }
}

#userFName {
  color: darken($highlight, 15);
}
